{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block extra_styles %}
    <style>
        @media screen and (max-width: 540px) {
            .author-info {
                width: 60%;
            }

            .post-info {
                width: 90%;
            }
        }

        @media screen and (min-width: 540px) and (max-width: 720px) {
            .author-info {
                width: 60%;
            }

            .post-info {
                width: 80%;
            }
        }

        @media screen and (min-width: 720px) and (max-width: 960px) {
            .author-info {
                width: 40%;
            }

            .post-info {
                width: 70%;
            }
        }

        @media screen and (min-width: 960px) and (max-width: 1140px) {
            .author-info {
                width: 30%;
            }

            .post-info {
                width: 60%;
            }

            .post-text {
                width: 85%;
            }
        }

        @media screen and (min-width: 1140px) {
            .author-info {
                width: 25%;
            }

            .post-info {
                width: 50%;
            }

            .post-text {
                width: 65%;
            }


        }

        input, button {
            height: 100% !important;
        }

        input[type=submit] {
            width: 100px;
        }

        .h-50px {
            height: 50px;
        }

        .author-full-name {
            font-size: 0.9rem;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="author-info mx-auto text-center my-3">
        <a href="{{ post.author.get_absolute_url }}"><img class="w-100" src="{{ post.author.avatar.url }}"
                                                          alt="post author avatar"></a>
        <h4>{{ post.author.full_name }}</h4>
    </div>
    <div class="post-info d-flex flex-column mx-auto text-center mb-3">
        <img class="w-100 mb-2" src="{{ post.image.url }}" alt="post image">
        <h3>{{ post.title }}
            <small class="text-muted">{{ post.created_at_as_datetime|date }}</small>
        </h3>
        <small class="text-muted">{{ post.tags_join }}</small>
    </div>

    <div class="post-text mx-auto">
        {{ post.text|linebreaks }}
    </div>

    <div class="comments">
        <div class="wrapper post-text mx-auto d-flex flex-column">
            <div class="form-wrapper w-100 mb-3">
                {% if user.is_authenticated %}
                    <form method="post" action="{{ post.get_comment_url }}" class="form-inline h-50px flex-nowrap">
                        {% csrf_token %}
                        <img class="rounded author-avatar mr-2 h-100" src="{{ user.profile.avatar.url }}"
                             alt="user avatar">
                        <label class="sr-only" for="{{ form.message.id_for_label }}">Text</label>
                        <input type="text" class="form-control flex-grow-1" id="{{ form.message.id_for_label }}"
                               name="{{ form.message.name }}" placeholder="Text" required>
                        <button type="submit" class="btn btn-primary ml-1">Send</button>
                    </form>
                {% endif %}
            </div>
            <div class="comments-list">
                {% for comment in post.comments.all %}
                    <div class="comment mb-2 d-flex">
                        <div class="image-wrapper h-50px">
                            <a href="{{ comment.author.get_absolute_url }}"><img
                                    src="{{ comment.author.avatar.url }}"
                                    class="rounded author-avatar h-100"
                                    alt="author comment"></a>
                        </div>
                        <div class="comment-info-wrapper">
                            <div class="comment-meta-info ml-2">
                                <span class="author-full-name text-info">{{ comment.author.full_name }}</span>
                                <small class="text-muted">{{ comment.created_at }}</small>
                            </div>
                            <div class="comment-text ml-2">
                                <p>{{ comment.message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>


    </div>
{% endblock %}
