{% extends 'base.html' %}


{% block content %}
    <form action="{% url 'main:profiles_update' user.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First name</label>
            <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}"
                   name="{{ form.first_name.name }}"
                   value="{{ form.first_name.value }}" placeholder="First name" autofocus>
        </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last name</label>
            <input type="text" class="form-control" id="{{ form.last_name.id_for_label }}"
                   name="{{ form.last_name.name }}"
                   value="{{ form.last_name.value }}" placeholder="Last name">
        </div>
        <div class="form-group">
            <label for="{{ form.birthday.id_for_label }}">Birthday</label>
            <input type="date" class="form-control" id="{{ form.birthday.id_for_label }}"
                   name="{{ form.birthday.name }}"
                   value="{{ form.birthday.value|date:"Y-m-d" }}" placeholder="Birthday">
        </div>

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="{{ form.avatar.id_for_label }}"
                   name="{{ form.avatar.name }}">
            <label class="custom-file-label" for="{{ form.avatar.id_for_label }}">Avatar</label>
            {% if form.avatar.errors %}
                {% for error in form.avatar.errors %}
                    <p class="error">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="custom-file">
            <input type="file" class="custom-file-input" id="{{ form.wallpaper.id_for_label }}"
                   name="{{ form.wallpaper.name }}">
            <label class="custom-file-label" for="{{ form.wallpaper.id_for_label }}">Wallpaper</label>
            {% if form.wallpaper.errors %}
                {% for error in form.wallpaper.errors %}
                    <p class="error">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
{% endblock %}


{% block extra_js %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}